<div class="container">
    <div class="container-button"> 
            <button type="button" class="btn btn-warning btn-lg btn-block" [routerLink]="'/ingreso/registro'">Registrar nuevo usuario</button>
         
            <button type="button" class="btn btn-warning btn-lg btn-block" (click)="exportarExcel()">Exportar usuarios en excel</button>
    </div>
    <br>
    <!-- <div class="botonesAdmin">        
        <button type="submit" (click)="exportarExcel()">Exportar todos los usuarios a excel</button>
    </div> -->
    <div class="contenedorLista form" >

        <h5>Listado de Especialistas</h5>

        <table class="table table-striped form-group">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dni</th> 
                    <th>Email</th> 
                    <th>Especialidad</th>
                    <th>Estado</th> 
                    <th>Acción</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuariosEspecialistas;index as i">

                        <td>{{usuario.apellido}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.dni}}</td>
                        <td>{{usuario.email}}</td> 
                        <td>{{usuario.descripcion}}</td> 
                        <td *ngIf="!usuario.aprobadoPorAdmin" style="color: brown; font-weight: 700;">Deshabilitado</td> 
                        <td *ngIf="usuario.aprobadoPorAdmin" style="color: rgb(42, 165, 56); font-weight: 700;">Habilitado</td> 
                        <td *ngIf="!usuario.aprobadoPorAdmin"> 
                            <button type="button" class="btn btn-primary" (click)="habilitar(usuario)">
                                Habilitar
                            </button>
                        </td>
                        <td *ngIf="usuario.aprobadoPorAdmin" (click)="bajaUsuario(usuario)">
                            <button type="button" class="button-danger">
                                Baja
                            </button>
                        </td> 

                    <!-- </form> -->


                    <!-- <button *ngIf="habilitado" (click)="deshabilitar(usuario,i)">{{mensajeBoton}}</button> -->
                    <!-- <td><button *ngIf="usuario.aprobadoPorAdmin" (click)="deshabilitar(usuario,i)">{{mensajeBoton}}</button></td> -->

                    <!-- <td><button (click)="aprobarUsuario(usuario,i)">Aprobar</button></td> -->
                    <!-- <td><button type="button" class="btn btn-info  btn-circle" (click)="mostrarDetalles(alumno)"><i class="fa fa-check"></i> -->
                        <!-- </button></td> -->
                    </tr>
                </tbody>                
            </table>          
    </div>

    <div class="contenedorLista form" >

        <h5>Listado de Pacientes</h5>

        <table class="table table-striped form-group">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dni</th> 
                    <th>Email</th> 
                    <th>Edad</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuariosPacientes;index as i">
                        <td>{{usuario.apellido}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.dni}}</td>
                        <td>{{usuario.email}}</td>  
                        <td>{{usuario.edad}}</td>  
                    </tr> 
                </tbody>                
            </table>        
    </div>  

    <div class="container-button"> 
        <button type="submit" class="btn btn-warning btn-lg btn-block"  *ngIf="!this.mostrarHistoriales" (click)="mostrarHistorial()">Historiales Clinicos de Pacientes</button>
        <button type="submit" class="btn btn-danger btn-lg btn-block"  *ngIf="this.mostrarHistoriales" (click)="ocultar()">Ocultar Historiales</button>
    </div>

    <br>

    <div class="list-group conteinerHistorial" *ngIf="this.mostrarHistoriales">
        <h1 style="color:rgb(0, 0, 0);">Historiales Clinicos de Pacientes</h1>
        <app-mostrar-historia [historia]="turnosHistorias"></app-mostrar-historia>
    </div>  
</div>
