.container {
    background-color: antiquewhite;
    height: 468px;
    .layout {
        width: 650px;
        height: 468px;
      
        display: grid;
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }
}
