

.test{
  
    flex-direction: row;
    background-color: #35b0ab !important;
    padding: 2% 1% !important;
    width: 30% !important;
    margin: 1%;
  
  }
  .test:hover{
    background-color: #226b80 !important;
  }
  .borderFade {
      padding-bottom: 1px;
      color: hsl(222, 25%, 14%);
      position: relative;
  }
  
  .borderFade::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: 0;
      opacity: 0;
      transform: translateY(3px);
      background: hsl(243, 80%, 62%);
      transition: opacity 0.2s ease, transform 0.2s ease;
  }
  
  .borderFade:hover::after {
      opacity: 1;
      transform: translateY(0);
  }
  
  .flag{
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  .cardLogueo{
    display:flex;
    align-items: center;
    flex-direction: row;
    margin-top: -25%;
  
  }
  
  .container-form{
    display: flex;
    justify-content: space-around;

    padding-top: 5%;
  }

  .historia-clinica {
    width: 80%;
    /* height: auto; */
    padding: 5% 0;
    margin: 5% 10%;
    animation-name: loginRegister;
    animation-duration: 0.2s;
    background-color: #c5ffbe61;
    border-radius: 5%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
  }
 
  .persona {
    position: relative;
    z-index: 1;

    .info{
      background: #FFFFFF;      
      border-radius: 3%;
      padding: 45px; 
      display: grid;
      justify-content: center;
      align-items: center;
      justify-items: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


      .pic {
        overflow: hidden;
        width: 200px;
        max-width: 300px;
        border-radius: 10%;
      }
      
      .pic img {
        transition: ease-in-out 0.3s;
      }

    }

  }
  @keyframes loginRegister {
    0% {
      width: 0px;
      opacity: 0;
    }
    100% {
        width: 80%;

      opacity: 1;
    }
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 5%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .valor{
    width: 30% !important;
  }
  .clave{
    margin-right: 3% !important;
    width: 50% !important;

  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 5px;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .container {
    position: relative;
    z-index: 1;
    width: 700px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
  
  @media only screen and (max-width: 501px) {
    /* For tablets: */
    .historia-clinica {width: 300px;}
    .cardLogueo{
      margin-top: -5%;
      margin-left: 20%;
    }
    
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .cardLogueo{
      
      margin-top: -30%;
      margin-left: 1%;
    }
    
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .cardLogueo{
      margin-top: -10%;
      margin-left: 20%;
      
  
    }
    .register-page {
      height: 500px;
      
    }
    .botones{
      height: 800px;
    }
  }
  .invalid{
    color:red;
}